* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.header-container {
  background-color: #15223b;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.header-title {
  margin: 0;
  padding: 0;
}

.chat-history-container {
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

.chat-history-title {
  margin: 0;
  padding: 0;
}
